input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

.logo {
  background-color: #92e0fa;
  margin: 8px 0px;
  padding: 40px;
  text-align: center;
}
.logo h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 37px;
}
.logo h2{
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: red;
  font-weight: 600;
  text-decoration: underline;
}

.buttonAdmin {
  margin: 13.5% 17%;
}

 .button1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    align-items: center;
    margin-right: 57%;
    margin-left: 0px;

}

.rem{
  background-color: red;
  width:auto;
}

#edit{
  background-color: #92e0fa;
  color: Black;
}

button .button1:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    border-radius: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 9px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.dropbtn {
    background-color: #85dcf9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 64px; left: 113px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #24c0f5 ;
}

.teamName li{
}

#teams{
    margin-left: 106px;
    margin-top: 50px;
    margin: 50px 0 0 110px;
    line-height: 25px;
}

#removeTeam1 table, tr, td{
  border:1px solid black;
  padding:5px;
  border-spacing: 5px;
}
