  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/admin.css">
    <script type="text/javascript" src="../js/admin.js">

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../js/angular_admin.js">

    </script>

    <title></title>
  </head>
  <body ng-app="myApp" ng-controller="GetUsers">
    <div class="container-fluid">
      <div class="col-md-3">
        <div class="logo">
          <h1>ISA Electromake</h1>
          <h2>Admin Page</h2>
        </div>
        <div class="teamName" id="teams">
          <li ng-repeat="user in users">
            <span onclick="teamview()">{{ user.team_name }}</span>
              <script>
                var teamid = "{{user.user_id}}";
              </script>
          </li>
        </div>
      </div>

      <div class="col-md-9">
        <button type="button" class="btn btn-success lg buttonAdmin" onclick=addTeam()>Add Team</button>
        <button type="button" class="btn btn-primary lg buttonAdmin" onclick=editTeam()>Edit Details</button><br>
        <button type="button" class="btn btn-danger lg buttonAdmin" onclick=removeTeam()>Remove Team</button>
        <div class="dropdown" style="top: 64px; left: 113px;">
          <button class="dropbtn buttonAdmin">Components</button>
          <div class="dropdown-content">
            <span onclick="viewComp()">View Components</span>
            <span onclick="addComp()">Add Components</span>
            <span onclick="editComp()">Edit Components</span>
            <span onclick="removeComp()">Remove Components</span>
          </div>
        </div><br>
        <button type="button" class="btn btn-warning lg buttonAdmin" onclick=changePass()>Change Password</button>
      </div>
    </div>

    <div id="viewTeam">

    </div>

    <div id="addTeam1" class="modal" >
      <form class="modal-content animate">
        <div class="container"><br>
          <span onclick="document.getElementById('addTeam1').style.display='none'" class="close" title="Close Modal">&times;</span>
	    		<label for="uname"><b>Username</b></label><br>
	    		<input type="text" placeholder="Enter Username" ng-model="user_id" required><br>

	    		<label for="psw"><b>Password</b></label><br>
	    		<input type="password" placeholder="Enter Password" ng-model="user_password" required><br>

          <label for="repsw"><b>Re-enter Password</b></label><br>
          <input type="password" placeholder="Enter Password Again" required><br>

          <label for="name"><b>Team Leader's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Team Leader" ng-model = "team_leader" required><br>

          <label for="num"><b>Team Members</b></label><br>
	    		<input type="text" placeholder="Enter number of Team Members( including Team Leader )" ng-model="memberNum" required><br>

	    		<button type="submit" class="button1" ng-click="insertdata()">Add Team</button>
	    	</div>
      </form>
    </div>

    <div id="editTeam1" class="modal">
      <form class="modal-content animate" action="action1.php">
        <div class="container"><br>
          <span onclick="document.getElementById('editTeam1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Team Leader's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Team Leader" name="name" required><br>

	    		<label for="uname"><b>Username</b></label><br>
	    		<input type="text" placeholder="Enter Username" name="uname" required><br>

	    		<label for="psw"><b>Your Password</b></label><br>
	    		<input type="password" placeholder="Enter your ISA Token Key" name="psw" required><br>

          <label for="money"><b>Money</b></label><br>
	    		<input type="text" placeholder="Enter Updated money" name='money' required><br>

          <label for="num"><b>Team Members</b></label><br>
	    		<input type="text" placeholder="Enter number of Team Members( including Team Leader )" name='num' required><br>

	    		<button type="submit" class="button1" id="edit">Edit Team Details</button>
	    	</div>
      </form>
    </div>

    <div id="removeTeam1" class="modal">
      <form class="modal-content animate" action="action.php">
        <div class="container"><br>
          <span onclick="document.getElementById('removeTeam1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Team Leader's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Team Leader" name="name" required><br>

	    		<label for="uname"><b>Username</b></label><br>
	    		<input type="text" placeholder="Enter Username" name="uname" required><br>

	    		<label for="psw"><b>Password</b></label><br>
	    		<input type="password" placeholder="Enter ISA Token Key" name="psw" required><br>

          <label for="repsw"><b>Re-enter Password</b></label><br>
          <input type="password" placeholder="Enter ISA Token Key Again" name="repsw" required><br>

	    		<button type="submit" class="button1 rem">Remove Team</button>
	    	</div>
      </form>
    </div>

    <div id="viewComp" class="modal">
    </div>

    <div id="addComp1" class="modal">
      <form class="modal-content animate" action="action.php">
        <div class="container"><br>
          <span onclick="document.getElementById('addComp1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Component's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Component" name="name" required><br>

	    		<label for="uname"><b>Component's Cost</b></label><br>
	    		<input type="text" placeholder="Enter Component's Cost" name="cost" required><br>

	    		<button type="submit" class="button1" >Add Component</button>
	    	</div>
      </form>
    </div>

    <div id="editComp1" class="modal">
      <form class="modal-content animate" action="action.php">
        <div class="container"><br>
          <span onclick="document.getElementById('editComp1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Component's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Component" name="name" required><br>

	    		<label for="uname"><b>Component's Cost</b></label><br>
	    		<input type="text" placeholder="Enter Component's Cost" name="cost" required><br>

	    		<button type="submit" class="button1" >Add Component</button>
	    	</div>
      </form>
    </div>

    <div id="remComp1" class="modal">
      <form class="modal-content animate" action="action.php">
        <div class="container"><br>
          <span onclick="document.getElementById('remComp1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Component's Name</b></label><br>
	    		<input type="text" placeholder="Enter Name of Component" name="name" required><br>

	    		<label for="uname"><b>Your Password</b></label><br>
	    		<input type="text" placeholder="Enter ISA Token Key Again" name="cost" required><br>

	    		<button type="submit" class="button1 rem">Remove Component</button>
	    	</div>
      </form>
    </div>

    <div id="teamview1" class="modal">
      <script type="text/javascript">
        console.log(teamid);
      </script>
      <form class="modal-content animate">
        <div class="container"><br>
          <span onclick="document.getElementById('teamview1').style.display='none'" class="close" title="Close Modal">&times;</span>

          <label for="name"><b>Team Leader's Name</b></label><br>
	    		   {{user.team_name}}<br>

	    	</div>

  </body>
</html>
