<div class="modal fade" id="addTeamModal" role="dialog" ng-controller="addUser">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-left: 0px;margin-right: 0px;width:100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Teams</h4>
      </div>
      <div class="modal-body" novalidate>
        <label for="unameab">Username</b></label><br>
        <input type="text" placeholder="Enter Username" ng-model="user_id" class="ng-pristine ng-invalid ng-invalid-requied" ><br>

        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" ng-model="user_password" class="ng-pristine ng-invalid ng-invalid-requied"><br>

        <label for="name"><b>Team Leader's Name</b></label><br>
        <input type="text" placeholder="Enter Name of Team Leader" ng-model = "team_leader" class="ng-pristine ng-invalid ng-invalid-requied"><br>

        <label for="num"><b>Team Members</b></label><br>
        <input type="text" placeholder="Enter number of Team Members( including Team Leader )" ng-model="memberNum" class="ng-pristine ng-invalid ng-invalid-requied"><br>

        <label for="phnum"><b>Phone Number</b></label><br>
        <input type="text" placeholder="Enter a WhatsApp number of any Team Mate" ng-model="phoneNum" class="ng-pristine ng-invalid ng-invalid-requied"><br>
      </div>
      <div class="modal-footer">
        <p>&copy;     All rights reserved by International Society of Automation - VIT Vellore Student Section</p><br>
        <button type="submit" class="button1" ng-click="addTeamNew()" data-dismiss="modal" style="border-radius: 10px;">Add Team</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
