<div class="modal fade" id="updateTeamModal" role="dialog" ng-controller='updateUser'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="margin-left: 0px;margin-right: 0px;width: 100%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Team Details</h4>
      </div>
      <div class="modal-body table-responsive">
          <table class="table table-hover" ng-hide="Update">
            <thead>
              <th ng-click="sortItem('user_id')">User ID</th>
              <th ng-click="sortItem('user_pass')">Password</th>
              <th ng-click="sortItem('team_name')">Team Name</th>
              <th ng-click="sortItem('money')">Money</th>
              <th ng-click="sortItem('team_members')">Member Number</th>
              <th ng-click="sortItem('phone_num')">Phone Number</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="user in users | orderBy:sortby:reverseSort">
                <td>{{user.user_id}}</td>
                <td>{{user.user_pass}}</td>
                <td>{{user.team_name}}</td>
                <td>{{user.money}}</td>
                <td>{{user.team_members}}</td>
                <td>{{user.phone_num}}</td>
                <td><button type="button" class="btn btn-info btn-xs buttonAdmin" style="align:center;" ng-click="UpdateTeam(user.user_id,user.team_name,user.money,user.team_members,user.phone_num)">Update Details</button></td>
              </tr>
            </tbody>
          </table>
          <div ng-show="Update">
            <label><b>User ID</b></label><br>
            <input type="text" name="userid" ng-model="userid" class="form-control" disabled><br>
            <label><b>Team Name</b></label><br>
            <input type="text" name="teamname" ng-model="teamname" class="form-control"><br>
            <label><b>Money</b></label><br>
            <input type="text" name="money" ng-model="money" class="form-control"><br>
            <label><b>Team Members</b></label><br>
            <input type="text" name="teammemb" ng-model="team_members" class="form-control"><br>
            <label><b>Phone Number</b></label><br>
            <input type="text" name="phonenum" ng-model="phonenum" class="form-control"><br>
            <input type="submit" name="btnInsert" class="btn btn-info" ng-click="updateData()">
          </div>
      </div>
      <div class="modal-footer">
        <p>&copy;     All rights reserved by International Society of Automation - VIT Vellore Student Section</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
