<div class="modal fade" id="viewMCQModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Quiz</h4>
      </div>
      <div class="modal-body" ng-controller="viewQuiz">
        <div class="modal-body table-responsive">
            <table class="table table-hover">
              <thead>
                <th ng-click="sortItem('ques')">Question</th>
                <th ng-click="sortItem('A')">A</th>
                <th ng-click="sortItem('B')">B</th>
                <th ng-click="sortItem('C')">C</th>
                <th ng-click="sortItem('D')">D</th>
                <th ng-click="sortItem('ans')">Answer</th>
                <th></th>
              </thead>
              <tbody>
                <tr ng-repeat="mcq in mcqs | orderBy:sortby:reverseSort">
                  <td>{{mcq.ques}}</td>
                  <td>{{mcq.A}}</td>
                  <td>{{mcq.B}}</td>
                  <td>{{mcq.C}}</td>
                  <td>{{mcq.D}}</td>
                  <td>{{mcq.ans}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <p>&copy;     All rights reserved by International Society of Automation - VIT Vellore Student Section</p><br>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
